.btn {
    background-color: rgba(45, 17, 20, 0.50);
    color: white;
    border: 5px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.btn:active {
    background-color: #2D1114;
    border: 5px solid #2D1114;
}